footer {
  background-image: linear-gradient(to right, rgb(151, 88, 163), rgb(204, 115, 207)); /* Linear gradient */  color: white;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  padding-top: 1rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
}

.footer-container .container .company-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-container h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}

.footer-container .container .footer-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  padding-bottom: .5rem;
}

.footer-container ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 17px;
  margin-bottom: 0;
}

.footer-container ul a {
  color: #ffffff;
}

.footer-container .container .company-title .learniverse-connect-logo {
  height: 70px;
  width: auto;
}

.footer-container .container .disclaimer p{
  max-width: 1200px;
  font-size: 17px;
}

